<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nataliamartinez.taller_3corte">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Carros">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registar" />
        <activity android:name=".Listar" />
        <activity android:name=".Reportes" />
        <activity android:name=".numero_carros" />
        <activity android:name=".Carro_Economico" />
        <activity android:name=".Carro_Caro"></activity>
    </application>

</manifest>